<footer class="bg-black text-white text-xs font-avenir-next-bold p-2" style="
    bottom: 0;
    position: fixed;
    width: 100%;">
  <div class="container-fluid">
    <div class="flex justify-between">
      <div>Copyright ID Soft 2020</div>
      <ul class="flex">
        <li><a class="pr-3" href="#">About Us</a></li>
        <li><a class="pr-3" href="#">FAQ</a></li>
        <li><a class="pr-3" href="#">Support</a></li>
      </ul>
    </div>
  </div>
</footer>
