body {
  color: #252a2c;;
  margin: 0;
  padding: 0;

  table {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
    width: 100%;
  }

  & > table {
    background-color: #f0f0f0;
    font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
    margin: 0px;
    width: 100%;
  }
}

.global-wrapper {
  max-width: 600px;
  padding: 32px 50px;
  background: #fff;
  margin: 10px auto;
  border-radius: 4px;

  table {
    width: 100%;
  }

  img {
    display: block;
  }
}


