@font-face {
  font-family: 'AvenirNext-regular';
  font-style: normal;
  font-weight: normal;
  src: font-url('Metropolis-Regular') format('otf');
}

@font-face {
  font-family: 'AvenirNext-bold';
  font-style: normal;
  font-weight: normal;
  src: font-url('Metropolis-Bold') format('otf');
}

@font-face {
  font-family: 'Silom-regular';
  font-style: normal;
  font-weight: normal;
  src: font-url('SilomBol') format('ttf');
}
